[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
errbot = ">=6.0.0"
dnspython = ">=2.0.0"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
